<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
</head>
<body style="background-color: rgb(71, 78, 60)">

    <h1>Page 1</h1>
    
    <h3><a href="/Ballasoaj/angelclothy.html">Go back</a></h3>
       
        
  
    <style>

h1 {

    text-align: center;
    text-decoration: solid;
    color: rgb(60, 255, 245);
    font-size: 70px;
    font-family: serif;
}
        
       h3 {
            text-align: left;
   text-align: justify;
text-decoration: solid;
color: rgb(0, 183, 255);
font-size: 16px;
font-family: arial;  
        }

        a:hover {

            background-color: aqua;

        }
    </style>
</body>
</html>